@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root {
    --dark-primary-color:#512DA8;
    --light-primary-color:#D1C4E9;
    --primary-color:#673AB7;
    --text-icons:#FFFFFF;
    --accent-color:#7C4DFF;
    --primary-text:#212121;
    --secondart-text:#757575;
    --divider-color:#BDBDBD;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: var(--text-icons);
    margin-top: 10px;
}
.header .banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 25px 25px 0px 0px
}
.header .banner .img-banner img {
    height: 135px;
    width: auto;
    margin: 25px 0px;
}
.header .banner .text h2{
    font-size: 4rem;
    color: var(--text-icons)
}
.header .nav {
    display: flex;
    justify-content: space-around ;
    width: 100%;
    background-color: var(--primary-text);
    border-radius: 0px 0px 25px 25px;
}
.header .nav a{
    display: flex;
    text-decoration: none ;
    margin: 20px 0px;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-icons);
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-text);
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: var(--text-icons);
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.footer-bottom{
    background-color: var(--dark-primary-color);
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
} 